<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Autenticacion</title>
	<% include partials/head %>
</head>
<body>
	<nav class="navbar mb-4 " >
			<label class="navbar-brand">Inventario Productos Bancarios</label>
      <img src="https://www.kindpng.com/picc/b/29/294244.png" width="200">
  </nav>
	<div class="container">

		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Registro y login de usuarios</h1>
				<p>Logeate o Registrate</p>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Iniciar Sesion
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Registrarse
				</a>
			</div>
		</div>
	</div>

</body>
</html>
