
body{
        background-color: rgba(25, 115, 184,0.4);
      }

      nav{
        color:black;
        background-color: rgb(4,50,99);
      }
      .navbar-brand{
        color:white;
      }

.login {
/*background: #56ab2f; */
background-color: rgba(25, 115, 184,0.4);
}

.signup {

  background-color: rgba(25, 115, 184,0.4);

}
